.contactpage {
  margin-bottom: 50px;
  padding-bottom: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  height: auto;
  width: 100vw;
}

h3 {
  color: #535460;
  text-align: center;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  padding: 15px 10px;
}

form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100vw;
  height: 60%;
  padding-right: 30px;
  margin-right: 50px;
  margin-left: -90px;
  /* background-image: url(/design/kingproteas-opaque.png);
  background-position: center;
  background-size: cover; */
}

form h5 {
  font-family: 'Kristi', cursive;
  color: #84a2a3;
  font-size: 58px;
  letter-spacing: 5px;
  padding-bottom: 10px;
  padding-right: 60px;
  margin-top: 20px;
  margin-left: 165px;
  width: 350px;  
  text-align: right;
}

form label {
  color: #535460;
  font-family: 'Open Sans', sans-serif;
  margin: 12px 0px;
  width: 180px;
}

form p {
  font-size: 18px;
}

input {
  width: 350px;
  height: 40px;
}

textarea {
  width: 350px;
  height: 150px;
}

button {
  width: 80px;
  height: auto;
  margin-left: 160px;
  margin-bottom: 20px;
  background:#bf8589;
  font-family: 'Shadows into Light', sans-serif;
  letter-spacing: 2px;
  color: white;
  border-radius: 1px;
  font-size: 18px;
}

button:hover {
  background-color:#84a2a3;
  box-shadow: 2px 2px 5px #bf8589;
} 