footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #b0c3c3;
  box-shadow: 5px 5px 5px #b0c3c3;
  font-family: 'Lato', sans-serif;
  padding: 10px 30px 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logos a {
  padding-right: 20px;
  justify-content: left;
  font-size: 40px;
  color: #535460;
}

.footer-logos a:hover {
  opacity: 0.5;
}

.footer-words p {
  color:#535460;
}