/* The below sets up the page container to allow for FlexBox styling of the child elements (the interest components) */

.interestspage {
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: auto; 
  width: 100vw;
}

 /* The below is the class styling for the interests cards, they all display alike. */

.interest-card {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 550px;
  height: auto;
  border-bottom: 1px dashed #bf8589;
  padding-bottom: 15px;
  margin: 10px 10px;
}

.interest-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 540px;
  height: auto;
}

.interest-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0;
}

.interest-img {
  border-radius: 5px;
  width: 290px;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin: 5px;
  justify-content: left;
}

.interest-info {
  font-size: 11px;
  font-weight: lighter;
  text-align: center;
  width: 250px;
  margin-left: 5px;
}

/* The below places the images onto the interests cards:  */

#interest1 .interest-img {
  background-image: url(/design/triathalon-mountainbike.jpeg);
  background-size: cover;
  background-position: center;
}

#interest2 .interest-img {
  background-image: url(/design/Aria-On-Beach.JPG);
  background-size: cover;
  background-position: center;
}

#interest3 .interest-img {
  background-image: url(/design/wine-slovenia-landscape.png);
  background-size: cover;
  background-position: center;
}

#interest4 .interest-img {
  background-image: url(/design/countries-visited-map.jpg);
  background-size: cover;
  background-position: center;
}

#interest5 .interest-img {
  background-image: url(/design/lifeline-xmas.png);
  background-size: cover;
  background-position: center;
}

#interest6 .interest-img {
  background-image: url(/design/me-reading-gone-girl.png);
  background-size: cover;
  background-position: center;
}

/* The below is the unique css for displaying on a mobile device  */


@media only screen and (max-width: 600px) {
  .interestspage {
    margin-bottom: 50px;
    margin-top: 110px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: auto; 
    width: 100vw;
  }
  
  .interest-card {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: auto;
    height: auto;
    border-bottom: 1px dashed #bf8589;
    padding-bottom: 15px;
    margin: 10px 10px;
  }
  
  .interest-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  
  .interest-title {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
  }
  
  .interest-img {
    border-radius: 5px;
    width: 150px;
    height: 100px;
    background-size: cover;
    background-position: center;
    margin: 2px;
    justify-content: left;
  }
  
  .interest-info {
    font-size: 10px;
    font-weight: lighter;
    text-align: center;
    width: 190px;
    margin-left: 4px;
  }
}