header {
  background-image: url(/docs/emma-bindi-looking-down-pano.jpeg);
  background-position: center;
  background-size: cover;
  height: 450px;
  width: 100vw;
  top: 0;
  left: 0;
  box-shadow: 5px 3px 5px #e2e9e9;
}

pagetitle {
  font-family: 'Covered By Your Grace', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  letter-spacing: 1px;
  color: #535460;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100vw;
  height: auto;
  margin: 10px 0;
  }

.nav-bar li {
  list-style-type: none;
  background-color: #bf8589;
  border-radius: 2px;
  display: inline-block;
  margin: 8px 15px;
  padding: 3px 12px;
}

.nav-bar a{
  text-decoration: none;
  color: #fffff2;
  font-family: 'Shadows into Light', sans-serif;
  letter-spacing: 2px;
  font-size: 17px;
}

.nav-bar li:hover {
  background-color:#84a2a3;
  box-shadow: 2px 2px 5px #bf8589;
}