header {
  background-image: url(/docs/emma-bindi-looking-down-pano.jpeg);
  background-position: center;
  background-size: cover;
  position: fixed;
  height: 450px;
  width: 100vw;
  top: 0;
  left: 0;
  box-shadow: 2px 2px 5px #bf8589;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100vw;
  height: auto;
  margin: 10px 0;
  }

.nav-bar li {
  list-style-type: none;
  background-color: #bf8589;
  border-radius: 2px;
  display: inline-block;
  margin: 10px 15px;
  padding: 3px 12px;
}

.nav-bar a{
  text-decoration: none;
  color: #fffff2;
  font-family: 'Lato', sans-serif;
}

.nav-bar li:hover {
  background-color:#84a2a3;
  box-shadow: 2px 2px 5px #bf8589;
}