  /* The below sets up the page container to allow for FlexBox styling of the child elements (the portfolio components) */
  
  .portfoliopage {
    margin-bottom: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: auto; 
    width: 100vw;
    color: #535460;
  }
  
  /* The below is the class styling for the portfolio cards, they all display alike. */

  .portfolio-card {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 600px;
    height: auto;
    padding-bottom: 15px;
    margin: 10px 10px;
    background-color: #f5f1ef;
    box-shadow: 3px 3px 3px 3px #dbd0d0;
  }
  
  .portfolio-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 540px;
    height: auto;
  }
  
  .portfolio-title {
    font-size: 24px;
    letter-spacing: 1px;;
    font-family: 'Covered By Your Grace', sans-serif;
    text-align: center;
    padding: 15px 0;
  }

  .portfolio-subtitle {
    text-align: center;
    padding: 5px;
    font-weight: bold;
    font-size: 14px;
  }
  
  .portfolio-img {
    border-radius: 5px;
    width: 170px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: 5px;
    justify-content: left;
  }
  
  .portfolio-info {
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    width: 350px;
    margin-left: 5px;
  }

  .portfolio-info-wordsonly {
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    width: 535px;
    padding: 3px;
  }

  .portfolio-info-wordsonly p {
    text-align: center;
    color: #535460;
  }
  
  .portfolio-info-wordsonly span {
    color: #bf8589;
    font-weight: bold;
    font-size: 12.5px;
  }

  .github-link {
    text-decoration: none;
    color: #bf8589;
  }
  
  #portfolio-item1 .portfolio-img {
    background-image: url(/docs/coding-clear.png);
    background-size: cover;
    background-position: center;
  }
  
  #portfolio-item2 .portfolio-img {
    background-image: url(/docs/vino-suggest_sq.png);
    background-size: cover;
    background-position: center;
  }

  #portfolio-item3 .portfolio-img {
    background-image: url(/docs/leafy-background.jpeg);
    background-size: cover;
    background-position: center;
  }

/* The below is the unique css for displaying on a mobile device  */

  @media only screen and (max-width: 600px) {
    .portfoliopage {
      margin-top: 110px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      height: auto; 
      width: 100vw;
      color: #535460;
    }
    
    .portfolio-card {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 100vw;
      height: auto;
      padding-bottom: 5px;
      margin: 5px 5px;
      background-color: #f5f1ef;
      box-shadow: 1px 1px 1px 1px #dbd0d0;
    }
    
    .portfolio-bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;
    }
    
    .portfolio-title {
      font-size: 18px;
      font-family: 'Covered By Your Grace', sans-serif;
      text-align: center;
      padding: 10px 0;
    }
  
    .portfolio-subtitle {
      text-align: center;
      padding: 5px;
      font-weight: bold;
      font-size: 12px;
    }
    
    .portfolio-img {
      border-radius: 1px;
      width: 30%;
      height: 100px;
      background-size: cover;
      background-position: center;
      margin: 3px;
      justify-content: left;
    }
    
    .portfolio-info {
      font-size: 10px;
      font-weight: lighter;
      text-align: center;
      width: 70%;
      margin-left: 5px;
    }
  
    .portfolio-info-wordsonly {
      font-size: 12px;
      font-weight: lighter;
      text-align: center;
      width: 100%;
      padding: 3px;
    }
  
    .portfolio-info-wordsonly p {
      text-align: center;
      color: #535460;
    }
    
    .portfolio-info-wordsonly span {
      color: #bf8589;
      font-weight: bold;
      font-size: 12.5px;
    }
  
    .github-link {
      text-decoration: none;
      color: #bf8589;
    }
    
    #portfolio-item1 .portfolio-img {
      background-image: url(/docs/coding-clear.png);
      background-size: cover;
      background-position: center;
    }
    
    #portfolio-item2 .portfolio-img {
      background-image: url(/docs/vino-suggest_sq.png);
      background-size: cover;
      background-position: center;
    }
  
    #portfolio-item3 .portfolio-img {
      background-image: url(/docs/leafy-background.jpeg);
      background-size: cover;
      background-position: center;
    }
  }