@import "css/nav.css"; 
@import "css/blog.css";
@import "css/footer.css";
@import "css/contactme.css";
@import "css/interests.css";
@import url('https://fonts.googleapis.com/css?family=Kristi|Lato|Shadows+Into+Light|Covered+By+Your+Grace|Amatic+SC|Open+Sans&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.content {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 475px;
  margin-bottom: 100px;
}

div.name {
  width: 100vw;
  height: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
}

div.name h1 {
  padding: 10px 0px;
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
  letter-spacing: 4px;
  color: #587274;
}

h6 {
  font-size: 20px;
  font-family: 'Shadows into Light', cursive;
  padding: 0 0 10px 0;
  letter-spacing: 2px;
  text-align: center;
  color: #535460;
}

p {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  padding: 8px 15px;
  color: #535460;
}