/* The below imports the stylesheets for all pages to link the entire site. It also imports custom fonts from Google. */

@import "css/nav.css"; 
@import "css/blog.css";
@import "css/footer.css";
@import "css/contactme.css";
@import "css/interests.css";
@import "css/portfolio.css";
@import url('https://fonts.googleapis.com/css?family=Kristi|Lato|Shadows+Into+Light|Covered+By+Your+Grace|Amatic+SC|Open+Sans&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* The below sets up the page container to allow for FlexBox styling of the child elements (the heading / websigte name and text elements) */

.content {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px 50px 120px 50px;
}

div.name {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
}

div.name h1 {
  padding: 10px 0px;
  font-family: 'Amatic SC', sans-serif;
  font-size: 100px;
  letter-spacing: 4px;
  color: #587274;
}

h6 {
  font-size: 20px;
  font-family: 'Shadows into Light', cursive;
  padding: 0 0 10px 0;
  letter-spacing: 2px;
  text-align: center;
  color: #535460;
}

p {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  padding: 20px 10px;
  color: #535460;
}

/* The below is the unique css for displaying on a mobile device  */

@media only screen and (max-width: 600px) {
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
  .content {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0 100px 0;
    margin-top: 100px;
  }
  
  div.name {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  div.name h1 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 40px;
    letter-spacing: 1px;
    color: #587274;
  }
  
  h6 {
    font-size: 15px;
    font-family: 'Shadows into Light', cursive;
    padding: 0 0 10px 0;
    letter-spacing: 2px;
    text-align: center;
    color: #535460;
  }
  
  p {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    padding: 8px 35px;
    color: #535460;
    font-size: 11px;
  }
}