<!-- The below is a template/component to reuse for adding new blog posts. The classes are setup so CSS styling will be automatic. And the blog page/div is setup as flexbox so it will fit in a responsive manner -->

<blogpostarticle id="blogpost1">
  <div class="post-img"></div>
  <div class="post-title">Blog Post 1: All About Flowers</div>
  <div class="post-date">30.03.2020</div>
  <div class="article">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt minima voluptates ipsam dolorum id ut quibusdam vero consequuntur eligendi esse, cum illum laboriosam animi ea molestias commodi! Possimus, saepe ratione atque dolores officia quas recusandae numquam? Possimus repellendus accusamus fuga nihil deserunt impedit harum officiis fugiat dignissimos deleniti, veritatis dolorem.</div>
</blogpostarticle>