<!-- The below is a template/component to reuse for the page footer. The classes are setup so CSS in footer.css so styling will be automatic. -->

<!-- Paste the below link into the html doc where this footer component is used. 
  The below link is to add in Linkedin & Github logo: -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">


<!-- Footer html component below -->

<footer>

  <div class="footer-logos">

    <a href="https://www.linkedin.com/in/emma-bindi-8bbb591a2"><i class="fab fa-linkedin"></i></a>

    <a href="https://github.com/emmabindi"><i class="fab fa-github-square"></i></a>
  </div>

  <div class="footer-words">
    <p>Created by Emma Bindi. 2020</p>
  </div>

</footer>