<!-- The below is a template/component to reuse for the page header including navbar. The classes are setup in nav.css so CSS styling will be automatic. -->

<!-- Insert the below into css file while is using the header to ensure it displays after the nav bar: -->

  margin-top: 245px;



<header>
    
  <div class="name">
  <h1>emma bindi</h1>
  </div>

  <!-- <h6>Wording under page title if required</h6> -->

  <!-- Links to page will need to be editted depending on location: -->

    <ul class="nav-bar">
      <li class="menu-item"><a href="index.html">Home</a></li>
      <li class="menu-item"><a href="html/blog.html">Blog</a></li>  
      <li class="menu-item"><a href="html/skills.html">Skills</a></li>
      <li class="menu-item"><a href="html/interests.html">Interests</a></li>
      <li class="menu-item"><a href="html/contactme.html">Contact Me</a></li>
    </ul>

    <pagetitle>Insert the Page Name Here</pagetitle>
  </header>