<!-- The below is a template/component to reuse for adding new interests. The classes are setup so CSS styling will be automatic. And the interests page/div is setup as flexbox so it will fit in a responsive manner -->

<div class="interest-card"> 
  <div id="interest1"> Insert unique ID here eg: interest6
    <div class="interest-title">Interest Name</div>
    <div class="interest-bottom">
    <div class="interest-img">This is where to insert image (as background)</div>
    <div class="interest-info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus nostrum unde tempore odio iusto blanditiis natus atque doloremque ab debitis? At, recusandae! Officia harum praesentium nemo ea quasi! Suscipit, enim..</div>
    </div>
  </div>
</div>