<!-- The below is the component template for the portfolio cards setup, so they all display alike and ensure title is on top, with image to the left or right and info beside the image. -->

<div class="portfolio-card"> 
  <div id="portfolio-item3">
    <div class="portfolio-title">Projects: HTML & CSS</div>
    <div class="portfolio-bottom">
        <div class="portfolio-img"></div>
    <div class="portfolio-info">
      <p class="portfolio-subtitle">Website Portfolio - HTML & CSS</p>
      Design, planning and development of this portfolio website using HTML and CSS.
      Responsive layout and semantic design ensures accessibility and readability for all users. <br><br> 
      Check out the Github link: <a class="github-link" href="https://github.com/emmabindi/portfolio">Portfolio Website</a><br><br> 
    </div>
    </div>
  </div>
</div>


<!-- The below is another component template for the portfolio cards setup, this will ensure cards without images will span the entire card width. -->

<div class="portfolio-card"> 
  <div id="portfolio-item4">
    <div class="portfolio-title">Work Experience & CV</div>
    <div class="portfolio-bottom">
    <div class="portfolio-info-wordsonly">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem deserunt doloribus veritatis accusantium ab, ratione quam ex consequuntur aperiam mollitia magni, cumque nemo, corrupti eveniet amet vitae! Porro mollitia natus quo. Porro excepturi mollitia odit magni quia illo, aliquam ipsum, facere dolorem cupiditate ullam officiis! 
      <br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, voluptatibus officia consequuntur praesentium cupiditate veritatis repellendus laborum iste, recusandae, beatae ut saepe voluptates ea provident!
      <br><br> 
      Download my Resume: <a class="github-link" href="/docs/2019-Emma-Bindi-CV.pdf">Emma Bindi CV</a><br><br>
    </div>
    </div>
  </div>
</div>